@import "_bootstrap";
@import "_variables";
@import "_greyscale";

/* Animations */
@import "_animate";

html {
    background-color: black !important;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #000000;
  color: #333333;
}

.todo-container {
  margin-top: 100px;
}
